body{
    font-family: 'Oswald', sans-serif;
    margin: 0;
}

h1{
    font-size: 55px;
    margin-top: 0;
}
h2{
    font-size: 40px;
    padding-top: 100px;
    margin-bottom: 0;
    margin-top: 0;
}

.tomato-highlighter{
    color: tomato;
}


.half-width{
    width: 40%;
    float: left;
    padding-top: 5%;

}

.half-width img{
    width: 100%;
}

.top-banner{
    background-image: url("Images/header-bg.png");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    height: 700px;    
}


.link-button{
    text-decoration: none;
    background-image: linear-gradient(45deg, lightsalmon, tomato );
    padding: 5px 30px;
    color: white;
    border-radius: 5px;
}

.extra-left-spacing{
    padding-left: 10%;
}

.left-spacing{
    padding-left: 8%;
}

.biography-banner{
    background-image: url("Images/biography-bg.png");
    background-repeat: no-repeat;
    height: 800px;
    background-size: 100% 100%;
}

.latest-work{
    text-align: center;
}


.work-image-width{
    width: 25%;
    float: left;
    margin-left: 6%;
    margin-top: 5%;
}

.work-image-width img{
    width: 100%;
}

.latest-work-banner{
    background-image: url("Images/latest-work-bg.png");
    background-repeat: no-repeat;
    height: 600px;
    background-size: 100% 100%;
}



.work-image-width:hover{
    box-shadow: 10px 10px 50px gray;
}

.client-say-area{
    height: 700px;
    background-image: url("Images/footer-bg.png");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    border-bottom: 7px solid;
    border-image: linear-gradient(90deg,blue,cyan);
    border-image-slice: 1;    
}

.client-say-area img{
    height: 150px;
    width: 150px;
    border-radius: 50%;
}

.client-say{
    height: 600px;
    width: 500px;
    position: absolute;
    left: 0;
    right: 0;
    margin: auto;
    text-align: center;
}

.message-button{
    background-image: linear-gradient(45deg,lightsalmon,tomato);
    padding: 5px 15px;
    border-radius: 5px;
    color: white;
}
.message-button h5, p{
    margin: 0 0 15px 0;
    font-size: 15px;
}
.message-button p{
    font-size: 30px;
}

.message-button{
    margin-top: 40px;
}

.client-say h5{
    margin: 0 0 10px 0;
    font-size: 15px;
}
.client-say .name{
    font-size: 30px;
}

footer{
    text-align: center;
    font-size: 40px;
}